{% extends "todo/base.html" %}

{% block content %}

<table class=" table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">User</th>
            <th scope="col">Content</th>
            <th scope="col">email</th>
            <th scope="col">Phone no.</th>
            <th scope="col">Category</th>
            <th scope="col"><a href="{% url 'todo_form' %}" class="btn btn-success">Add New</a></th>
        </tr>
    </thead>
    {% for todo_item in todo_list %}
    <tbody>
        <tr>
            <th scope="row">{{ todo_item.id }}</th>
            <td>{{ todo_item.user }}</td>
            <td>{{ todo_item.content }}</td>
            <td>{{ todo_item.email }}</td>
            <td>{{ todo_item.mobile }}</td>
            <td>{{ todo_item.category }}</td>
            <td>
                <a href="{% url 'todo_update' todo_item.id %}" class="btn btn-outline-success">update</a>
                <p></p>
                <form action="{% url 'todo_delete' todo_item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">delete
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content%}