{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1 class="mx-auto mt-5" style="width: 500px;"> Welcome To The Todo App</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }} <button type="button" class="btn-close position-absolute top-10 end-0 pr-4"
            data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <h6>Create Todo</h6>
    <form action="" method="post" autocomplete="off" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}

        <div class="col-md-2">
            {{form.author|as_crispy_field}}
        </div>
        <div class="col-md-10">
            {{form.content|as_crispy_field}}
        </div>
        <div class="d-grid gap-2 col-8 mx-auto pt-2">
            <button type="submit" class="btn btn-success">ADD NEW</button>
        </div>

    </form>
    <p></p>
    <h6>Todo List</h6>
    <p></p>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sr. no.</th>
                <th scope="col">User</th>
                <th scope="col">Content</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Complete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for todo_item in all_items %}
            <tr>
                {% if todo_item.completed == False %}
                <th scope="row">{{ todo_item.id }}</th>
                <td>{{ todo_item.author }}</td>
                <td>{{ todo_item.content }}</td>
                <td>{{ todo_item.created }}</td>
                {% else %}
                <th class="text-muted" scope="row">{{ todo_item.id }}</th>
                <td class="text-muted">{{ todo_item.author }}</td>
                <td class="text-muted text-decoration-line-through">{{ todo_item.content }}</td>
                <td class="text-muted text-decoration-line-through">{{ todo_item.created }}</td>
                {% endif %}

                <td>
                    {% if todo_item.completed == True %}
                    <a style="text-decoration:none; color: royalblue;" href="{% url 'mark_incomplete' todo_item.id %}">
                        <div class="form-check form-switch">

                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
                                disabled>
                            finished
                        </div>
                    </a>
                    {% else %}
                    <a style="text-decoration:none;color: royalblue;" href="{% url 'mark_complete' todo_item.id %}">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled>still
                            working
                        </div>
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'delete' todo_item.id %}" class=" btn btn-outline-danger" type="button">remove
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}