{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1 class="mx-auto mt-5" style="width: 500px;"> Welcome To The Todo App</h1>

    <div class="form-group">
        <div class="container">
            <h6>Create Todo</h6>
            <p></p>
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="row">
                    <div class="col-auto">
                        {{form.author|as_crispy_field}}
                    </div>
                    <div class="col-md-8">
                        {{form.content|as_crispy_field}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p></p>
    <h6>Todo List</h6>
    <p></p>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sr. no.</th>
                <th scope="col">User</th>
                <th scope="col">Content</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Complete</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for todo_item in all_items %}
            <tr>
                <th scope="row">{{ todo_item.id }}</th>
                <td>{{ todo_item.author }}</td>
                <td>{{ todo_item.content }}</td>
                <td>{{ todo_item.created }}</td>
                <td colspan="2">{{ todo_item.completed }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}